/* VARIABLES */
/* FIN VARIABLES */
/* EXTENDS */
.titulos, .sec-hello .titulo, .concept h1, .skills .progresbar h1, .skills .featured h1, .logos h1, .phone article h1, .titulo-rosa h1, .multipropose article h1, .sec-uno .titulo, .sec-dos .titulo, .contenedor .titulo, .news h1, .theme article h1 {
  font-size: 30px;
  color: #313131; }

.sub-titulos, .head-con h3, .contact h3, .head-about h3, .head-services h3, .servicios article .contenedor h3, .rosa article .texto-rosa h3, .redondel .texto h3, .features article h3, .sec-dos article .sub-titu, .news article .blanco h3, footer .wid-2 h3, footer .wid-3 h3 {
  font-size: 15px;
  color: #313131;
  line-height: 26px;
  font-weight: 600; }

.texto-simulado, .contact p, .sec-hello .sub-titulo, .concept p, .skills .featured .botones .blanco, .skills .featured form .but .blanco, form .skills .featured .but .blanco, .skills .featured .sec-dos article .but .blanco, .sec-dos article .skills .featured .but .blanco, .skills .featured .texto p, .servicios article .contenedor p, .phone article p, .phone article li, .rosa article .texto-rosa p, .redondel .texto p, .redondel .texto a, .multipropose article p, .multipropose article li, .features article p, .sec-uno .sub-titulo, .sec-dos .sub-titulo, .sec-dos article .texto-sub-titu, .news article .blanco .up, .news article .blanco p, .theme article p, footer .wid-1 p, footer .wid-2 p, footer .wid-3 p {
  font-size: 13px;
  color: #969595;
  line-height: 24px; }

.botones, form .but, .sec-dos article .but {
  background: #31aae2;
  border: 0;
  color: white;
  text-transform: uppercase; }

.boton, footer .wid-1 .but-wid-1, footer .wid-2 .but-wid-2 {
  font-size: 11px;
  background-color: inherit;
  color: #969595;
  border-radius: 30px;
  border: 1px solid #969595;
  text-transform: uppercase;
  padding: 5px 15px; }

/* FIN EXTENDS */
/* GLOBALES */
.row {
  margin: 0; }

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px; }

header {
  background-image: url("../img/banner.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 720px; }

/* FIN GLOBALES */
/* HADER CONTACT */
.head-con {
  width: 100%;
  background-color: #f2efe4;
  height: 300px; }
  .head-con h1 {
    font-size: 65px;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
    margin-top: 40px; }
  .head-con h3 {
    color: #969595;
    font-weight: 200;
    margin: 0;
    padding: 0; }

/* FIN HADER CONTACT */
/* -------------------------------------------------------------------- */
/* BLOQUE NEGRO */
.bloque-negro {
  width: 100%;
  padding-top: 70px; }
  .bloque-negro .bloque {
    background-color: #313131;
    height: 300px; }

/* FIN BLOQUE NEGRO */
/* -------------------------------------------------------------------- */
/* SECTION CONTACTOS */
.contact {
  width: 100%;
  padding: 70px 0px 50px 0px; }
  .contact .cont {
    border: 1px solid #969595;
    padding: 0; }
  .contact .ico {
    padding: 0;
    margin: 0; }
  .contact .fa-bullhorn {
    padding: 60px 30px;
    color: white;
    background-color: #31aae2;
    margin: 0; }
  .contact h3 {
    display: inline-block; }
  .contact p {
    margin: 0;
    display: inline-block; }

/* FIN SECTION CONTACTOS */
/* -------------------------------------------------------------------- */
/* SECTION HELLO */
.sec-hello {
  background: white;
  padding: 30px 0px; }
  .sec-hello .titulo {
    margin-bottom: 30px; }

/* FIN SECTION HELLO */
/* -------------------------------------------------------------------- */
/* FORMULARIO */
.form-group {
  margin-bottom: 0px; }

.form-control {
  color: #555;
  background-color: #f9f9f9;
  border: 0;
  -webkit-box-shadow: 0;
  box-shadow: 0;
  -webkit-transition: 0;
  -o-transition: 0;
  transition: 0;
  border: 0;
  cursor: not-allowed;
  border-radius: 0; }

.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
  background-color: #f9f9f9;
  opacity: 1; }

.datos {
  margin-bottom: 20px;
  background-color: #f9f9f9; }

textarea {
  height: 143px;
  background-color: #f9f9f9;
  border: 0;
  width: 100%;
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143; }

form {
  padding-bottom: 50px; }
  form .but {
    border-radius: 0;
    color: white;
    font-size: 11px;
    font-weight: 600;
    padding: 8px 25px;
    margin: 0; }

/* FIN FORMULARIO */
/* HADER ABOUT */
.head-about {
  width: 100%;
  background-color: #f2efe4;
  height: 300px; }
  .head-about h1 {
    font-size: 65px;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
    margin-top: 40px; }
  .head-about h3 {
    color: #969595;
    font-weight: 200;
    margin: 0;
    padding: 0; }

/* FIN HADER ABOUT */
/* ----------------------------------------------------------------------------------------------*/
/* SECTION CONCEPT */
.concept {
  width: 100%;
  padding: 70px 0px;
  background-color: white; }
  .concept p {
    padding: 0; }
  .concept .flex {
    margin-top: 40px;
    -ms-display: flex;
    display: flex;
    justify-content: space-between; }
    .concept .flex .caja-negra {
      background-color: #313131;
      width: 160px;
      height: 200px; }
    .concept .flex .caja-celeste {
      background-color: #31aae2;
      width: 160px;
      height: 200px;
      -ms-display: flex;
      display: flex;
      justify-content: center;
      align-items: center; }
      .concept .flex .caja-celeste .ion-search {
        color: white;
        font-size: 24px; }

/* SECTION CONCEPT */
/* ----------------------------------------------------------------------------------------------*/
/* SECTION SKILLS */
.skills {
  width: 100%;
  padding: 30px 0px 70px 0px;
  background-color: white; }
  .skills .progresbar h1 {
    margin-bottom: 40px; }
  .skills .progresbar .progress {
    height: 35px;
    /**/
    margin-bottom: 20px;
    overflow: hidden;
    background-color: white;
    border-radius: 20px;
    -webkit-box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0.1);
    border: 1px solid #f1f1f1; }
  .skills .progresbar .progress-bar {
    float: left;
    width: 0;
    height: 100%;
    font-size: 12px;
    line-height: 20px;
    color: #fff;
    text-align: center;
    background-color: #31aae2;
    -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
    -webkit-transition: width .6s ease;
    -o-transition: width .6s ease;
    transition: width .6s ease;
    border-radius: 20px; }
    .skills .progresbar .progress-bar p {
      text-align: left;
      line-height: 32px;
      padding-left: 20px;
      font-size: 13px;
      display: inline-block;
      margin: 0; }
    .skills .progresbar .progress-bar .cir {
      background-color: white;
      display: inline-block;
      padding: 2px;
      width: 28px;
      height: 28px;
      font-size: 10px;
      border-radius: 30px;
      -ms-display: flex;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 2px;
      float: right;
      margin-right: 2px; }
    .skills .progresbar .progress-bar .porcentaje {
      font-size: 8px;
      color: #313131; }
  .skills .featured h1 {
    margin-bottom: 40px; }
  .skills .featured .botones, .skills .featured form .but, form .skills .featured .but, .skills .featured .sec-dos article .but, .sec-dos article .skills .featured .but {
    background-color: white; }
    .skills .featured .botones .blanco, .skills .featured form .but .blanco, form .skills .featured .but .blanco, .skills .featured .sec-dos article .but .blanco, .sec-dos article .skills .featured .but .blanco {
      padding: 5px 10px;
      background: white;
      border: 1px solid #969595;
      color: #969595;
      border-radius: 5px;
      margin-right: 10px; }
    .skills .featured .botones .celeste, .skills .featured form .but .celeste, form .skills .featured .but .celeste, .skills .featured .sec-dos article .but .celeste, .sec-dos article .skills .featured .but .celeste {
      background-color: #31aae2;
      color: white;
      border: 1px solid #31aae2; }
  .skills .featured .texto {
    margin-top: 20px; }
    .skills .featured .texto .cuadrado {
      background-color: #313131;
      height: 185px; }
    .skills .featured .texto p {
      margin-bottom: 0; }

/* FIN SECTION SKILLS */
/* ----------------------------------------------------------------------------------------------*/
/* TESTIMONIOS */
.carousel-sec {
  padding-top: 50px;
  padding-bottom: 70px; }

.quote {
  color: rgba(0, 0, 0, 0.1);
  text-align: center;
  margin-bottom: 30px; }

/*-------------------------------*/
/*    Carousel Fade Transition   */
/*-------------------------------*/
#fade-quote-carousel.carousel {
  padding-bottom: 60px; }

#fade-quote-carousel.carousel .carousel-inner .item {
  opacity: 0;
  -webkit-transition-property: opacity;
  -ms-transition-property: opacity;
  transition-property: opacity; }

#fade-quote-carousel.carousel .carousel-inner .active {
  opacity: 1;
  -webkit-transition-property: opacity;
  -ms-transition-property: opacity;
  transition-property: opacity; }

#fade-quote-carousel.carousel .carousel-indicators {
  bottom: 10px; }

#fade-quote-carousel.carousel .carousel-indicators > li {
  background-color: #e84a64;
  border: none; }

#fade-quote-carousel blockquote {
  text-align: center;
  border: none; }

#fade-quote-carousel .profile-circle {
  width: 100px;
  height: 100px;
  margin: 0 auto;
  border-radius: 100px; }

/* FIN TESTIMONIOS */
/* ----------------------------------------------------------------------------------------------*/
/* SECTION LOGOS */
.logos {
  width: 100%;
  padding: 0px 0px 100px 0px;
  background-color: white; }
  .logos .fila-logos {
    margin-top: 70px;
    -ms-display: flex;
    display: flex;
    justify-content: space-between;
    align-items: center; }

/* FIN SECTION LOGOS */
/* ----------------------------------------------------------------------------------------------*/
/* FILA AZUL */
.fila-azul {
  width: 100%;
  background-color: #31aae2;
  padding: 20px 0px;
  clear: both; }
  .fila-azul .flex {
    -ms-display: flex;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .fila-azul .flex h3 {
      font-size: 17px;
      color: white;
      font-weight: 200;
      margin: 0; }
    .fila-azul .flex button {
      color: white;
      background-color: inherit;
      border: 1px solid white;
      text-transform: uppercase;
      font-size: 13px;
      font-weight: 600;
      padding: 8px 25px; }

/* FIN FILA AZUL */
/* HADER SERVICES */
.head-services {
  width: 100%;
  background-color: #f2efe4;
  height: 300px; }
  .head-services h1 {
    font-size: 65px;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
    margin-top: 40px; }
  .head-services h3 {
    color: #969595;
    font-weight: 200;
    margin: 0;
    padding: 0; }

/* FIN HADER SERVICES */
/* ----------------------------------------------------------------------------------------------*/
/* SECTION CONCEPT */
.servicios {
  background-color: white;
  padding: 70px 0px;
  width: 100%; }
  .servicios article .contenedor {
    padding: 30px 30px;
    border: 1px solid #f1f1f1; }
    .servicios article .contenedor .icono {
      padding: 20px 25px;
      background-color: #31aae2;
      color: white;
      font-size: 20px;
      border-radius: 8px; }
    .servicios article .contenedor .ion-ios-lightbulb-outline {
      padding: 20px 25px;
      background-color: black;
      color: white;
      font-size: 20px;
      border-radius: 8px; }
    .servicios article .contenedor h3 {
      margin-top: 40px; }
    .servicios article .contenedor p {
      text-align: center;
      margin-top: 30px; }

/* SECTION CONCEPT */
/* ----------------------------------------------------------------------------------------------*/
/* SECTION PHONE */
.phone {
  width: 100%;
  background-color: #f9f9f9;
  padding-top: 50px; }
  .phone article p {
    margin-top: 40px;
    margin-bottom: 30px; }
  .phone article ul {
    list-style: none;
    padding: 0;
    margin: 0; }
  .phone article li {
    margin-bottom: 13px; }
  .phone article .glyphicon-star {
    color: #31aae2;
    margin-right: 10px; }
  .phone article button {
    background-color: #31aae2;
    color: white;
    border: 0;
    text-transform: uppercase;
    padding: 10px 20px;
    font-size: 13px;
    margin-top: 30px; }

/* FIN SECTION PHONE */
/* -------------------------------------------------------------------- */
/* SECTION ROSA */
.titulo-rosa {
  width: 100%;
  background-color: white;
  padding: 30px; }

.rosa {
  width: 100%;
  background-color: #eb768c;
  padding: 50px 0px; }
  .rosa article {
    -ms-display: flex;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start; }
    .rosa article .texto-rosa {
      margin-left: 15px; }
      .rosa article .texto-rosa h3 {
        color: white;
        margin: 0;
        font-weight: 600;
        margin-bottom: 20px; }
      .rosa article .texto-rosa p {
        color: white; }

.fila-abajo {
  margin-top: 80px; }

/* FIN SECTION ROSA */
/* -------------------------------------------------------------------- */
/* SECTION REDONDEL */
.redondel {
  width: 100%;
  background-color: white;
  padding: 70px 0px; }
  .redondel .texto a {
    color: #31aae2;
    text-decoration: none; }
  .redondel .circulo {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    background-color: #d1d1d1; }

/* FIN SECTION REDONDEL */
/* -------------------------------------------------------------------- */
/* SECTION MULTIPROPOSE */
.multipropose {
  width: 100%;
  background-color: #f9f9f9;
  padding-top: 50px; }
  .multipropose article h1 {
    margin: 0; }
  .multipropose article p {
    margin-top: 40px;
    margin-bottom: 30px; }
  .multipropose article ul {
    list-style: none;
    padding: 0;
    margin: 0; }
  .multipropose article li {
    margin-bottom: 13px; }
  .multipropose article .glyphicon-star {
    color: #31aae2;
    margin-right: 10px; }
  .multipropose article button {
    background-color: #31aae2;
    color: white;
    border: 0;
    text-transform: uppercase;
    padding: 10px 20px;
    font-size: 13px;
    margin-top: 30px; }

/* SECTION MULTIPROPOSE */
/* -------------------------------------------------------------------- */
/* SECTION FEATURES */
.features {
  background-color: white;
  padding: 70px 0px;
  width: 100%; }
  .features article {
    padding: 0px 20px; }
    .features article .redondel-b, .features article .redondel-n {
      background-color: #f1f1f1;
      width: 100px;
      height: 100px;
      border-radius: 50%;
      text-align: center;
      -ms-display: flex;
      display: flex;
      justify-content: center;
      align-items: center; }
    .features article .redondel-n {
      background-color: #313131; }
    .features article .icono-b {
      color: white;
      font-size: 35px; }

/* FIN SECTION FEATURES */
/* HADER ABOUT */
.head-about {
  width: 100%;
  background-color: #f2efe4;
  height: 300px; }
  .head-about h1 {
    font-size: 65px;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
    margin-top: 40px; }
  .head-about h3 {
    color: #969595;
    font-weight: 200;
    margin: 0;
    padding: 0; }

/* FIN HADER ABOUT */
/*  SECTION PORTFOLIO  */
/* FIN SECTION PORTFOLIO */
.portfolio-cuadros {
  background-color: #313131; }
  .portfolio-cuadros .filtros a {
    color: white; }

/* -------------------------------------------------------------------- */
/* NAVBAR */
.navbar-default {
  background-color: transparent;
  border: 0;
  border-radius: 0; }
  .navbar-default .navbar-brand {
    float: left;
    height: 50px;
    padding: 0;
    font-size: 18px;
    line-height: 20px;
    margin-top: 20px; }
  .navbar-default .navbar-nav li a {
    color: #142031;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 14px;
    margin: 20px 0px 0px 30px;
    padding: 10px; }
    .navbar-default .navbar-nav li a:hover {
      border-bottom: 2px solid #142031; }
  .navbar-default .p {
    border-bottom: 2px solid #142031; }
  .navbar-default .ion-ios-search-strong {
    font-size: 18px; }

/* FIN NAVBAR */
/* -------------------------------------------------------------------- */
/* SECTION UNO */
.sec-uno {
  background: white;
  padding: 90px 0px; }
  .sec-uno .titulo {
    margin-bottom: 30px; }

/* FIN SECTION UNO */
/* -------------------------------------------------------------------- */
/* SECTION DOS */
.sec-dos {
  background: #f9f9f9;
  padding: 90px 0px; }
  .sec-dos .titulo {
    margin-bottom: 10px; }
  .sec-dos .mar {
    margin-top: 40px; }
  .sec-dos .pad-img {
    padding-left: 40px;
    padding-right: 40px; }
  .sec-dos article .texto-sub-titu {
    padding: 0px 45px 0px 45px; }
  .sec-dos article .but {
    font-size: 11px;
    font-weight: 600;
    padding: 8px 25px; }

/* FIN SECTION DOS */
/* -------------------------------------------------------------------- */
/* SECTION TRES */
.sec-tres {
  width: 100%;
  background: #f9f9f9; }

.contenedor {
  padding-top: 30px; }
  .contenedor .titulo {
    text-align: center;
    padding-bottom: 50px;
    margin: 0; }
  .contenedor .cuadro-medio {
    width: 20%;
    height: 350px;
    background: #313131;
    position: relative;
    display: inline-block;
    float: left; }
    .contenedor .cuadro-medio .redes-cuadro {
      margin: auto;
      position: absolute;
      top: 50%;
      left: 50%;
      height: 15%;
      width: 80%;
      margin: -15% 0 0 -40%;
      -ms-display: flex;
      display: flex;
      align-items: center;
      justify-content: center; }
      .contenedor .cuadro-medio .redes-cuadro .icon {
        color: white;
        margin: 0px 5px;
        padding: 12px 17px;
        border: 2px solid white;
        box-sizing: border-box; }
      .contenedor .cuadro-medio .redes-cuadro .med {
        background-color: #31aae2;
        border: 0;
        padding: 14px 19px; }
    .contenedor .cuadro-medio .frase-cuadro {
      bottom: 20px;
      position: absolute;
      width: 100%;
      background: white;
      color: #313131;
      text-align: center;
      padding: 15px 0px;
      opacity: 1; }
      .contenedor .cuadro-medio .frase-cuadro h3 {
        font-size: 11px;
        color: #313131;
        text-transform: uppercase;
        font-weight: 700;
        margin: 0; }
      .contenedor .cuadro-medio .frase-cuadro p {
        font-size: 9px;
        color: #969595;
        text-transform: uppercase;
        font-weight: 700;
        margin-top: 10px;
        margin-bottom: 0; }
  .contenedor .cuadro {
    width: 20%;
    height: 350px;
    background: #313131;
    position: relative;
    display: inline-block;
    float: left; }
    .contenedor .cuadro .frase-cuadro {
      bottom: 20px;
      position: absolute;
      width: 100%;
      background: white;
      color: #313131;
      text-align: center;
      padding: 15px 0px;
      opacity: 0.6;
      transition: 1s; }
      .contenedor .cuadro .frase-cuadro:hover {
        opacity: 1;
        transition: 1s; }
      .contenedor .cuadro .frase-cuadro h3 {
        font-size: 11px;
        color: #313131;
        text-transform: uppercase;
        font-weight: 700;
        margin: 0; }
      .contenedor .cuadro .frase-cuadro p {
        font-size: 9px;
        color: #969595;
        text-transform: uppercase;
        font-weight: 700;
        margin-top: 10px;
        margin-bottom: 0; }
  .contenedor .cel {
    background: #31aae2; }

/* SECTION TRES */
/* -------------------------------------------------------------------- */
/* FILA VERDE */
.fila-verde {
  width: 100%;
  background-color: #73c8b7;
  padding: 20px 0px;
  clear: both; }
  .fila-verde .flex {
    -ms-display: flex;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    .fila-verde .flex h3 {
      font-size: 17px;
      color: white;
      font-weight: 200;
      margin: 0; }
    .fila-verde .flex button {
      color: white;
      background-color: inherit;
      border: 1px solid white;
      text-transform: uppercase;
      font-size: 13px;
      font-weight: 600;
      padding: 8px 25px; }

/* FIN FILA VERDE */
/* -------------------------------------------------------------------- */
/* SECTION NEWS */
.news {
  width: 100%;
  background-color: #f9f9f9;
  padding: 50px 0px; }
  .news h1 {
    margin: 0;
    margin-bottom: 40px; }
  .news article .negro {
    background-color: #313131;
    height: 230px;
    position: relative; }
    .news article .negro img {
      position: absolute; }
    .news article .negro .img-dos {
      top: 52px; }
  .news article .blanco {
    background-color: white;
    padding: 20px; }
    .news article .blanco h3 {
      margin: 0; }
    .news article .blanco .up {
      text-transform: uppercase; }
    .news article .blanco a {
      text-decoration: none; }

.mar {
  margin-top: 40px; }

/* FIN SECTION NEWS */
/* -------------------------------------------------------------------- */
/* SECTION ROSA */
.titulo-rosa {
  width: 100%;
  background-color: white;
  padding: 30px; }

.rosa {
  width: 100%;
  background-color: #eb768c;
  padding: 50px 0px; }
  .rosa article {
    -ms-display: flex;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start; }
    .rosa article .texto-rosa {
      margin-left: 15px; }
      .rosa article .texto-rosa h3 {
        color: white;
        margin: 0;
        font-weight: 600;
        margin-bottom: 20px; }
      .rosa article .texto-rosa p {
        color: white; }

.fila-abajo {
  margin-top: 80px; }

/* FIN SECTION ROSA */
/* -------------------------------------------------------------------- */
/* SECTION THEME */
.theme {
  width: 100%;
  background-color: #f9f9f9;
  padding-top: 50px; }
  .theme article p {
    margin-top: 40px; }

/* FIN SECTION THEME */
/* -------------------------------------------------------------------- */
/* INICIO FOOTER */
footer {
  width: 100%;
  padding: 50px 0px;
  background-color: #313131;
  color: #969595; }
  footer .wid-1 {
    border-right: 1px solid #969595; }
    footer .wid-1 p {
      margin-top: 20px; }
    footer .wid-1 .but-wid-1 {
      margin-top: 15px; }
  footer .wid-2 h3 {
    color: white;
    font-weight: 200; }
  footer .wid-2 .but-wid-2 {
    background-color: #31aae2;
    border: 0;
    color: white;
    margin-top: 15px; }
  footer .wid-3 {
    border-left: 1px solid #969595; }
    footer .wid-3 h3 {
      color: white;
      font-weight: 200; }
    footer .wid-3 .social-foo {
      margin-top: 15px; }

/* FIN INICIO FOOTER */
@media screen and (max-width: 600px) {
  .sec-tres .cuadro-medio {
    width: 100%;
    height: 350px; }
  .sec-tres .cuadro {
    width: 100%;
    height: 350px; } }

/*# sourceMappingURL=style.css.map */
